@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1164b1;
  --secondary: #28a77d;
  --tertiary: #0a3f74;
  --gray: #5f5f5f;
  --action: #008cff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-action: var(--action);
  --color-gray: var(--gray);

  --background-image-maritime-gradient: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-secondary)
  );
}

@media (prefers-color-scheme: dark) {
  :root {

    --background: #ffffff;
    --foreground: #000000;
  }
}
